body {
margin: 0;
padding: 0;
}

.container{

    margin: 0;
    padding: 0;
}

header ul{
    margin: 0;
    padding: 0;
}

header a{
    justify-content: center;
    text-decoration:none;
    padding: 3px 17px 3px;
    text-align:center;
}

header ul.down-list{
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
}

header .menu_keeper {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,0.10);
}

header .menu_keeper_down {
    border-top: 1px solid rgba(0,0,0,0.10);
}

header li{
    height: 100%;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    padding: 0 0 0 20px;
}



header .header-content{
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: flex;
    justify-content: flex-end;
}



header .navLinkTop{
    text-align:center;
    transition: color 0.5s;
    color:#a0a0a0;
}

header .navLinkTop{
    text-align:center;
    transition: color 0.5s;
    color:#a0a0a0;
}


header span{
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #a0a0a0;
    margin-left: .25rem;
}

header li{
    padding: 0;
}

header .up-list{
    display: flex;
    align-items:  center;text-align: center;
}


header .social_logo {
    color:#a0a0a0;
    /*transition: color 0.2s;*/
}

header .fans{
    color:black;
}

header div a{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .logo div{
    min-height: 200px;
    width: 100%;

    background-image: url('../images/siatka_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header .headline{
    position: relative;
    font-size: 80px;
    font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
}

.down-list > li > a {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: black;
    transition: color 0.3s;
}

.down-list > li > a:hover{
    color: #a0a0a0;

}

.handler{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    height: 40px;
}

.top-bar{
    border-bottom: 1px solid rgba(0,0,0,0.10);
}

.content{
    width: 100%;
    height: 95%;
    border: 2px solid green;
    margin: 0 auto;
}


.product_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    /*margin-top: -20px;*/
    margin-top: 20px;
}
.product_list .product  {
    flex: 1 0 400px;
    box-sizing: border-box;
    background: #e0ddd5;
    color: #171e42;
    padding: 20px;
    height: 500px;
    margin-left: 20px;
    margin-top: 20px;
}




img{
    max-width: 100%;
    height: 100%;
    display: block; /*for the img inside your div */
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 100px) {
    .product_list .product  {
        max-width: calc(100% - 20px);
    }
}
@media (min-width: 700px) {
    .product_list .product  {
        max-width: calc(100% - 20px);
    }
}
@media (min-width: 830px) {
    .product_list .product  {
        max-width: calc(50% - 20px);
    }
}
@media (min-width: 1040px) {
    .product_list .product  {
        max-width: calc(50% - 20px);
    }
}
@media (min-width: 1180px) {
    .product_list .product  {
        max-width: calc(33.33333% - 20px);
    }
}
@media (min-width: 1460px) {
    .product_list .product  {
        max-width: calc(33.33333% - 20px);
    }
}
@media (min-width: 1670px) {
    .product_list .product  {
        max-width: calc(33.33333% - 20px);
    }
}