body {
margin: 0;
padding: 0;
}


header ul{
    margin: 0;
    padding: 0;
}

header a{
    justify-content: center;
    text-decoration:none;
    padding: 3px 17px 3px;
    text-align:center;
}

header ul.down-list{
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
}

header .menu_keeper {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,0.10);
}

header .menu_keeper_down {
    border-top: 1px solid rgba(0,0,0,0.10);
}

header li{
    height: 100%;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    padding: 0 0 0 20px;
}



header .header-content{
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: flex;
    justify-content: flex-end;
}



header .navLinkTop{
    text-align:center;
    transition: color 0.5s;
    color:#a0a0a0;
}

header .navLinkTop{
    text-align:center;
    transition: color 0.5s;
    color:#a0a0a0;
}


header span{
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #a0a0a0;
    margin-left: .25rem;
}

header li{
    padding: 0;
}

header .up-list{
    display: flex;
    align-items:  center;text-align: center;
}


header .social_logo {
    color:#a0a0a0;
    /*transition: color 0.2s;*/
}

header .fans{
    color:black;
}

header div a{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .logo div{
    min-height: 200px;
    width: 100%;

    background-image: url('../images/siatka_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header .headline{
    position: relative;
    font-size: 80px;
    font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
}

.down-list > li > a {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: black;
    transition: color 0.3s;
}

li:first-of-type a {
    color: #a0a0a0;
}

.down-list > li > a:hover{
    color: #a0a0a0;

}

.handler{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    /*height: 40px;*/
}

.top-bar{
    border-bottom: 1px solid rgba(0,0,0,0.10);
}


.product .content a{
    width: 320px;
}
.content{
    position: relative;
    width: 320px;
    height: 95%;
    /*border: 2px solid green;*/
    margin: 0 auto;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    /*margin-top: -20px;*/
    margin-top: 20px;

}

.product:hover{
    /*border: 1px solid black;*/
}

.product-list .product  {
    flex: 1 0 400px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.10);
    color: #171e42;
    padding: 20px;
    height: 500px;
    margin-left: 20px;
    margin-top: 20px;
}

.product{
    position: relative;
    overflow: hidden;
    border: 1px solid white;
    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: border 0.5s;
}

.link-to_prod {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.product-handler{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product-title{
    position: absolute;
    color:white;
    font-size: 50px;
    z-index: 100;
    /*opacity: 0;*/
    opacity: 0;
    background: rgba(0,0,0,0.8);
    display: table;
    height: 101%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.product-title p{
    width: 100%;
    display: table-cell;
    font-size: 20px;
    position: relative;
    width: 100%;
    vertical-align: middle;
    text-align: center;

}


.product-list .product .content a:hover .product-handler .product-title{
    opacity: 1;
}

.text-content{
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}


img{
    max-width: 100%;
    display: block; /*for the img inside your div */
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.product-list .product .content a:hover img {
    /*-webkit-transform: scale(1.4);*/
    /*-moz-transform: scale(1.4);*/
    /*transform: scale(1.4);*/
}


.product-list .product .content a:hover .handler img{
    /*-webkit-transform: scale(1.4);*/
    /*-moz-transform: scale(1.4);*/
    /*transform: scale(1.4);*/
}
.push {
    height: 50px;
}




/*footer*/

.content-instagram{
    position: relative;
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    /*height: 280px;*/
    list-style:none;
    padding: 0;
    margin: 0;
    height: 260px;
    overflow: hidden;

}

.content-instagram li{
    /*height: auto;*/
    /*display: list-item;*/
    /*text-align: -webkit-match-parent;*/
    webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;

}

.content-instagram li img{
    display: inline;
    width: 100%;
    height:auto;
    /*position:relative;*/
    /*right:25%;*/
    /*top:0px;*/
    /*width:30%;*/
    /*height:auto;*/
    margin: 0;margin-left: 50%;
    transform: translateX(-50%);
}

test1{
    position: absolute;
    width: 100%;
    overflow: hidden;
}

img:hover{
/*filter: brightness(75%);*/

}
@media (min-width: 100px) {
    .product-list .product  {
        max-width: calc(100% - 20px);
    }
}
@media (min-width: 700px) {
    .product-list .product  {
        max-width: calc(100% - 20px);
    }
}
@media (min-width: 830px) {
    .product-list .product  {
        max-width: calc(50% - 20px);
    }
}
@media (min-width: 1040px) {
    .product-list .product  {
        max-width: calc(50% - 20px);
    }
}
@media (min-width: 1180px) {
    .product-list .product  {
        max-width: calc(33.33333% - 20px);
    }
}
@media (min-width: 1460px) {
    .product-list .product  {
        max-width: calc(33.33333% - 20px);
    }
}
@media (min-width: 1670px) {
    .product-list .product  {
        max-width: calc(33.33333% - 20px);
    }
}

